language: python
dist: trusty
sudo: false

python:
    - "3.5"
    - "3.6"

env:
    - REQUIRES=minimum
    - REQUIRES=normal

install:
    - if [ "$REQUIRES" = minimum ]; then tools/minimum_requires.sh; fi
    - pip install -e .
    - pip install -r tools/requirements.txt

cache: pip

script:
    # Make sure there are no "FIXME" marks in the codebase.
    - test ! "$( git grep -l FIXME | grep -Fv .travis.yml )"

    # Basic stuff.
    - python setup.py check --strict --restructuredtext
    - pylint *.py
    - pytest

    # Although the docs are processed by Read the Docs,
    # we still want to check that they are building OK.
    - sphinx-build -W doc/ doc/_build/

    # Check the assorted reStructuredText documents at the top of the repo.
    - tools/check_rst.sh

    # Check that the source distribution includes everything it should,
    # and nothing it shouldn't (including all the files we just built).
    - check-manifest

deploy:
    on:
        tags: true
        # Only release from one of the environments.
        python: "3.5"
        condition: $REQUIRES = normal
    provider: pypi
    user: vfaronov
    password:
        secure: La/nkC/5zy/HZt5qOYl8RFnRmdNBrgEoa75BfD3lCLC01NIq0+ZPVkIlVEPxypCUEe+M/qAqXDBDDr+YYWoSl2r6GOnM+lCTG/rOkwrQHPby2MimEnuhJFYHS8v3AmcFZRSyNrKmwroNqLwYmHIydTIvMTFD2O+0MJv2DyDBGekAX2LPhXSCo1Cvv3YLoz8DcBlO/xdnxhMq5CSaqb+ea6o/bQ+mSXngpadXBQu58ZTQn8ptCROBvRrqd6ONdy63FMZix7D/3TXEMqTdaK2vdYUXX7GhSyUMhP3LyQy15eFFV3Um9LRgx2dFEIc+123NX9LwJXrmv4J1sj3wQcUPkwaGdS9EQ1fqCIbWxeXIrUYf3K1xpIWdl5S6Ojh3zH/Z7TT+fx2T1+CyxVqU/FGlyRiQ1CnBBNZgOmSpwnNoGSkF5GmIChHTgEdNTgskKlMy7oLFagIHVuYrYKtgHMx8Ty80gyw8XTUr9vembnt3o2x16qgLFmoVSEE3oGu38vDfAwbOsD3WnLnKH8dtPLjc9WpW3foEEZFEXvzphmE8juAXfAV1Q6g8lw9E43uclRHxDtP3wx8PzdxLYu+PYvVU6TOy5et4zUm0SH9SYdC/Pcj8gZ8Fy9DTvTivmz666zQjS3zXwDJ6FUMAQjU/QVfrxhhGTzL9b/SP+oGYuitLS5E=
    distributions: "sdist bdist_wheel"
    skip_upload_docs: true
